{
  "printWidth": 100,
  "endOfLine": "lf",
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "embeddedLanguageFormatting": "auto",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "parser": "markdown",
        "printWidth": 100,
        "proseWrap": "always",
        "tabWidth": 2
      }
    },
    {
      "files": "*.mdx",
      "options": {
        "parser": "mdx",
        "printWidth": 100,
        "proseWrap": "always",
        "tabWidth": 2
      }
    },
    {
      "files": "*.py",
      "options": {
        "tabWidth": 4,
        "printWidth": 79
      }
    }
  ]
}
